.Modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
  
.Modal__container {
    position: relative;
    /* top: 10rem; */
    background-color: #ffffff;
    padding: 17px 22px 0px 19px;
    width: 100%;
    border-radius: 10px;
}
  
.Modal__close-button {
    height: auto;
    padding: 0px;
    background-color: #fff;
    border: 0px;
    cursor: pointer;
}

.Modal-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.description-detail-text {
    font-size: 17px;
    line-height: 20px;
    color: #807A7A;
}