.content-leftbar-store {
    margin-left: 172px;
    background-color: #F0F2F5;
    height: 100%;
}

.container-dashboard {
    background-color: #fff;
    margin-top: 23px;
    margin-left: 15px;
    margin-right: 11px;
    margin-bottom: 14px;
    height: 90%;
    border-radius: 10px;
}